.ButtonContainer {
  @apply flex justify-items-end mt-[44px] ml-auto justify-end;
}

.ButtonContainerInner {
  @apply flex items-center gap-7;
}

.amenityHeading {
  overflow-y: scroll;
  height: calc(100vh - 200px);
}
.amenityContainer {
  @apply relative bg-white px-10  py-5;
}

.Close {
  @apply absolute top-6 right-10 cursor-pointer;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: -50;
}

.amenityHeading::-webkit-scrollbar {
  width: 0;
}
